<div style="height: 100%">

  <div class="d-flex flex-column" style="height: 100%">

    <nz-breadcrumb>
      <nz-breadcrumb-item>
        <a [routerLink]="">รายชื่อนักศึกษา</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item> <a [routerLink]="['../']">จัดการเกรด</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>เพิ่มเกรด
      </nz-breadcrumb-item>
    </nz-breadcrumb>

    <div class="toolbar">
      <nz-page-header-extra class="headex">
        <button class="buttontool" nz-button nzType="primary">

        </button>
      </nz-page-header-extra>
    </div>
      <div nz-row>
        <div nz-col [nzSpan]="24">
          <h3>เพิ่มเกรดนักศึกษา<h5>{{searchModel.stdPrename}} {{searchModel.stdName}}</h5> </h3>
        </div>
      </div>
      <br />







      </div>
      </div>
