label {
  line-height: 34.9999px;
  white-space: normal;
}

.gray-block {
  background-color: #dadada;
  border: solid #cccccc 1px;
  padding: 10px;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
}

.white-block {
  background-color: #ffffff;
  border: solid #cccccc 1px;
  padding: 10px;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
}

.violate-block {
background-color:#9481d6 !important;
border: solid #cccccc 1px !important;
padding: 10px !important;
color: rgb(255 255 255 / 85%) !important;
font-size: 14px !important;
}

.violate-gray-block {
background-color: #B1a6db !important;
border: solid #cccccc 1px !important;
padding: 10px !important;
color: rgb(255 255 255 / 85%) !important;
font-size: 14px !important;
}

.white-gray-block {
background-color: #F0f0f1;
border: solid #ffffff 1px;
padding: 10px;
color: rgba(0, 0, 0, 0.85);
font-size: 14px;
}

.text-green {
color: #61a05c !important;
}
